<div class="container ms-md-auto pt-5">
  <div class="">
    <h1>Top Stays by Type</h1>
    <ul
      class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 list-unstyled p-3 text-center text-sm-start"
    >
      <li class="pb-4">
        <a
          href="https://app.clooper.com/listings?latlng=9.081999,8.675277&s=Nigeria&page=1&size=40&adults=2&children=0&pets=0&infants=0&checkIn=1685014763000&checkOut=1685273963000&radius=10&search=false"
          target="_blank"
          rel="noopener noreferrer"
          >- Nigeria</a
        >
      </li>
      <li class="pb-4">
        <a href="" target="_blank" rel="noopener noreferrer">
          Beach cabins in the US</a
        >
      </li>
      <li class="pb-4">
        <a
          href="https://www.airbnb.co.uk/united-states/stays/beach-cabins"
          target="_blank"
          rel="noopener noreferrer"
        >
          Beachfront rentals in the US</a
        >
      </li>
      <li class="pb-4">
        <a
          href="https://www.airbnb.co.uk/united-states/stays/beachfront"
          target="_blank"
          rel="noopener noreferrer"
        >
          Cabin rentals in Australia</a
        >
      </li>
      <li class="pb-4">
        <a
          href="https://www.airbnb.co.uk/australia/stays/cabins"
          target="_blank"
          rel="noopener noreferrer"
        >
          Cabin rentals with a pool in the US</a
        >
      </li>
      <li class="pb-4">
        <a
          href="https://www.airbnb.co.uk/united-states/stays/cabins-pools"
          target="_blank"
          rel="noopener noreferrer"
        >
          Holiday apartments in Australia</a
        >
      </li>
      <li class="pb-4">
        <a
          href="https://www.airbnb.co.uk/australia/stays/holiday-apartments"
          target="_blank"
          rel="noopener noreferrer"
        >
          Holiday chalets in the UK</a
        >
      </li>
      <li class="pb-4">
        <a
          href="https://www.airbnb.co.uk/united-kingdom/stays/holiday-chalets"
          target="_blank"
          rel="noopener noreferrer"
        >
          Pet-friendly beach rentals in the US</a
        >
      </li>
    </ul>
  </div>
</div>
