<div class="container ms-md-auto pt-5">
    <div class="">
        <h1>Top Stays by Type</h1>
      <ul class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 list-unstyled p-3 text-center text-sm-start">
        <li class="pb-4"><a href="https://www.airbnb.co.uk/united-states/stays/apartments-hot-tubs" target="_blank" rel="noopener noreferrer">- Apartments with a hot tub in the US</a></li>
        <li class="pb-4"><a href="" target="_blank" rel="noopener noreferrer">
            
Beach cabins in the US</a></li>
        <li class="pb-4"><a href="https://www.airbnb.co.uk/united-states/stays/beach-cabins" target="_blank" rel="noopener noreferrer">
            
Beachfront rentals in the US</a></li>
        <li class="pb-4"><a href="https://www.airbnb.co.uk/united-states/stays/beachfront" target="_blank" rel="noopener noreferrer">
            
Cabin rentals in Australia</a></li>
        <li class="pb-4"><a href="https://www.airbnb.co.uk/australia/stays/cabins" target="_blank" rel="noopener noreferrer">
            Cabin rentals with a pool in the US</a></li>
        <li class="pb-4"><a href="https://www.airbnb.co.uk/united-states/stays/cabins-pools" target="_blank" rel="noopener noreferrer">
           
Holiday apartments in Australia</a></li>
        <li class="pb-4"><a href="https://www.airbnb.co.uk/australia/stays/holiday-apartments" target="_blank" rel="noopener noreferrer">
            
Holiday chalets in the UK</a></li>
        <li class="pb-4"><a href="https://www.airbnb.co.uk/united-kingdom/stays/holiday-chalets" target="_blank" rel="noopener noreferrer">
            

            Pet-friendly beach rentals in the US</a></li>
      </ul>
    </div>
  </div>
