<div class="container ms-md-auto pt-5">
    <div class="">
      <h1>Top Categories</h1>
      <ul class="row row-cols-1 row-cols-sm-3 row-cols-md-4 list-unstyled p-3 text-center text-sm-start">
        <li class="pb-4"><a href="https://www.airbnb.co.uk/stays/amazing-pools" target="_blank" rel="noopener noreferrer">Amazing pools</a></li>
        <li class="pb-4"><a href="https://www.airbnb.co.uk/stays/arctic" target="_blank" rel="noopener noreferrer">
            Arctic</a></li>
        <li class="pb-4"><a href="https://www.airbnb.co.uk/stays/castles" target="_blank" rel="noopener noreferrer">Castles</a></li>
        <li class="pb-4"><a href="https://www.airbnb.co.uk/stays/earth-homes" target="_blank" rel="noopener noreferrer">Earth homes</a></li>
        <li class="pb-4"><a href="https://www.airbnb.co.uk/stays/farms" target="_blank" rel="noopener noreferrer">
            Farms</a></li>
        <li class="pb-4"><a href="https://www.airbnb.co.uk/stays/national-parks" target="_blank" rel="noopener noreferrer">
            National parks</a></li>
        <li class="pb-4"><a href="https://www.airbnb.co.uk/stays/towers" target="_blank" rel="noopener noreferrer">Towers</a></li>
        <li class="pb-4"><a href="https://www.airbnb.co.uk/stays/vineyards" target="_blank" rel="noopener noreferrer">
            Vineyards</a></li>
      </ul>
    </div>
  </div>
