<!-- <body> -->

<div class="container">
  <nav class="">
    <h1 class="">Serviced Apartment and Hotels for Business travel.</h1>
    <ul class="list-unstyled">
      <app-distance></app-distance>
      <!-- <li class="pb-3 text-decoration-none">
        <a routerLink="destination">Destination</a>
      </li> -->
      <!-- <li class="pb-3">
        <a routerLink="categories">Categories</a>
      </li>
      <li class="pb-3">
        <a routerLink="experiences">Experiences</a>
      </li>
      <li>
        <a routerLink="stays">Stays by Type</a>
      </li> -->
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>


<!-- </body> -->