<!-- <body> -->

<div class="container border-bottom">
  <nav class="">
    <ul class="row row-cols-2 text-center row-cols-sm-3 row-cols-md-4 list-unstyled">
      <li class="pb-3 text-decoration-none">
        <a routerLink="destination">Destination</a>
      </li>
      <li class="pb-3">
        <a routerLink="categories">Categories</a>
      </li>
      <li class="pb-3">
        <a routerLink="experiences">Experiences</a>
      </li>
      <li>
        <a routerLink="stays">Stays by Type</a>
      </li>
    </ul>
  </nav>
</div>

<router-outlet></router-outlet>

<!-- </body> -->